IMAP_URL=imap.provider.com
IMAP_USERNAME=user@provider.net
IMAP_PASSWORD=randompassword
IMAP_FOLDER=Paperless
IMAP_TARGET_FOLDER=Paperless/Processed
INTER_RUN_INTERVAL=600
HOSTS=127.0.0.1 tracking.paypal.com
WKHTMLTOPDF_OPTIONS={"load-media-error-handling":"ignore"}
OUTPUT_DIRECTORY=/data/pdf